.tableMenuC{
    /* position: absolute; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    overflow: scroll;
   
   
    width: 394px;
    height: 393px;
    left: 182px;
    top: 350px;
    box-sizing: border-box; */
}